<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/hexagon.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hexagon2.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hexagon3.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hexagon4.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hexagon5.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/firstrow.css">
</head>
<body>
    <div class="English-Menu">
    <nav class="menu">
        <ul class="EnglishResources">
            
            {{ timeofday }}

            <li>
              <div class="hexagon">
                <a href="/english">English<span class="arrow">&#9660;</span></a>
                <ul class="sub-menu">
                    <li><a href="#">Writing</a></li>
                    <li><a href="#">Storytelling</a></li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Reading</a></li>
                </ul>
                <div class="face1"></div>
                <div class="face2"></div>
              </div>
            </li>


            <li>
              <div class="hexagon2">
                <a href="/math">Math</a>
                <ul class="sub-menu">
                    <li><a href="#">Algebra</a></li>
                    <li><a href="#">Geometry</a></li>
                    <li><a href="#">Calculus</a></li>
                    <li><a href="#">Statistics</a></li>
                </ul>
                <div class="face1"></div>
                <div class="face2"></div>
              </div>
            </li>


            <li class="current-item">
              <div class="hexagon3">
                <a href="/science">Science</a>
                <ul class="sub-menu">
                    <li><a href="#">Life Science</a></li>
                    <li><a href="#">Chemistry</a></li>
                    <li><a href="#">Physics</a></li>
                    <li><a href="#">Geology</a></li>
                    <li><a href="#">Computer Science</a></li>
                </ul>
                <div class="face1"></div>
                <div class="face2"></div>
              </div>
            </li>

            <li>
              <div class="hexagon4">
                <a href="/socialscience">Social Science</a>
                <ul class="sub-menu">
                    <li><a href="#">History</a></li>
                    <li><a href="#">Religious Studies</a></li>
                    <li><a href="#">Psychology</a></li>
                    <li><a href="#">Philosophy</a></li>
                </ul>
                <div class="face1"></div>
                <div class="face2"></div>
              </div>
            <li>



            <li>
              <div class="hexagon5">
              <a href="#">Art</a>
                <ul class="sub-menu">
                    <li><a href="#">Classic</a></li>
                    <li><a href="#">Digital Media</a></li>
                    <li><a href="#">Drawing</a></li>
                    <li><a href="#">Painting</a></li>
                </ul>
                <div class="face1"></div>
                <div class="face2"></div>
              </div>
            <li>


        </ul>
    </nav>
</div>
</body>
</html>
